{
	"parser": "babel-eslint",
	"extends": [],
	"plugins": [],
	"parserOptions": {
		"sourceType": "module"
	},
	"rules": {
		"semi": [ 0, "never" ],
		"no-console": 0
	},
	"globals": {
		"fetch": true
	}
}
