ul {
  list-style-type: none;
}
li {
  display: inline-block;
}
a {
  text-decoration: none;
  padding: 10px;
}
a.active {
  text-decoration: underline;
}
.topbar {
  margin-bottom: 40px;
}
.genres > li {
  margin-right: 20px;
}
.albums > li {
  width: 32%;
  max-width: 33%;
  border: 1px solid black;
}
